<mat-card>
  <h2 [ngClass]="{highlighted: count > 3, extra: count > 5}">Login</h2>
  <form (submit)="login()">

    <input [class.error]="usernameControl.touched && usernameControl.invalid" placeholder="Enter username" [formControl]="usernameControl">
    <span *ngIf="usernameControl.touched && usernameControl.invalid" style="color: red">Age should be...</span>

    <input name="password" placeholder="Enter password" [value]="count" (change)="onChange($event)">
    <button mat-raised-button color="accent" [disabled]="loginFormGroup.invalid || loginFormGroup.pristine">Login
    </button>

    <button type="button" (click)="increment()">increment</button>
    <mat-spinner *ngIf="loading" [diameter]="30" [strokeWidth]="2"></mat-spinner>
  </form>
</mat-card>
